absl-py (0.2.2)
asn1crypto (0.24.0)
astor (0.6.2)
attrs (18.1.0)
Automat (0.7.0)
backports.weakref (1.0.post1)
BeautifulSoup (3.2.1)
bleach (1.5.0)
cffi (1.11.5)
click (6.7)
colorama (0.3.7)
constantly (15.1.0)
cryptography (2.2.2)
cssselect (1.0.3)
enum34 (1.1.6)
funcsigs (1.0.2)
futures (3.2.0)
gast (0.2.0)
grpcio (1.12.1)
html5lib (0.9999999)
hyperlink (18.0.0)
idna (2.7)
incremental (17.5.0)
ipaddress (1.0.22)
keyring (10.6.0)
keyrings.alt (3.0)
lxml (4.2.2)
Markdown (2.6.11)
mock (2.0.0)
numpy (1.14.5)
PAM (0.4.2)
parsel (1.4.0)
pbr (4.0.4)
pip (9.0.1)
protobuf (3.6.0)
pyasn1 (0.4.3)
pyasn1-modules (0.2.1)
pycairo (1.16.2)
pycparser (2.18)
pycrypto (2.6.1)
PyDispatcher (2.0.5)
pygobject (3.26.1)
pyOpenSSL (18.0.0)
pypng (0.0.18)
PyQRCode (1.2.1)
pyserial (3.4)
pyxdg (0.25)
qrtools (0.0.2)
queuelib (1.5.0)
Scrapy (1.5.0)
SecretStorage (2.3.1)
selenium (3.13.0)
service-identity (17.0.0)
setuptools (39.2.0)
six (1.11.0)
tensorboard (1.8.0)
tensorflow (1.8.0)
termcolor (1.1.0)
Twisted (18.4.0)
user-agent (0.1.9)
w3lib (1.19.0)
Werkzeug (0.14.1)
wheel (0.31.1)
zope.interface (4.5.0)
